
*{
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(135deg, white, grey, rgba(16,112,13,0.5));
    min-height: 100vh;
  }
  .form-header {
      background: linear-gradient(135deg, #508d44, #3abe4c);
      color: #fff;
      padding: 20px;
      border-radius: 10px 10px 0 0;
      text-align: center;
      margin-bottom: 20px;
      position: relative;
  }

  .form-header .logo {
    width: 9%;
    height: auto;
    margin-bottom: 10px;
  }
  .form-container {
      background: rgba(255,255,255,0.85);
      border-radius: 15px;
      box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
      padding: 30px;
  }
  .form-section {
      margin-bottom: 25px;
  }
  .form-section h5 {
      margin-bottom: 15px;
      border-bottom: 2px solid #eee;
      padding-bottom: 5px;
      color: #10700d;
  }
  .logo {
      max-height: 60px;
      display: block;
      margin: 0 auto 10px auto;
  }
  .navbar-custom {
    background: linear-gradient(90deg,#e9ecef, #f8f9fa);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.navbar-brand img {
    height: 60px;
}
div .nav-link {
    font-weight: 500;
    margin: 0 10px;
    font-size: 20px;
}
.btn-retour {
    border-radius: 8px;
}